@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var now = DateTime.Now;
    var month = now.Month;
    var day = now.Day;
    var year = now.Year;

    var date = new DateTime(year, month, day);
    var dateRangeMin = date.AddDays(1).ToString("yyyy-MM-dd");
    var dateRangeMax = date.AddDays(7).ToString("yyyy-MM-dd");

    var locationList = (IEnumerable<Location>)Model;

    var selectedLocation = locationList.Select(
     item =>
     {
         var list = new SelectListItem()
         {
             Text = item.LocationName,
             Value = item.LocationId.ToString()
         };
         return list;
     }
    ).ToList();



    var selectedTime = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text = "Morning",
            Value = "false"
        },

        new SelectListItem()
        {
            Text = "Afternoon",
            Value = "true"
        }
    };
}

<main class="my-4">
    <h3>Create your appointment</h3>
    <hr></hr>
    <form asp-controller="Order"
          asp-action="Choosen"
          method="post">
        <label class="my-3"  for="selectedLocation">Select a Location</label>
        <br />
        @Html.DropDownList("selectedLocation", selectedLocation)
        <br />
        <label class="my-3" for="selectedDate"> Select a Day </label>
        <br />
        <input requried="true"
               id="selectedDate"
               name="selectedDate"
               type="date"
               value="@dateRangeMin"
               min="@dateRangeMin"
               max="@dateRangeMax" />
        <br />
        <label class="my-3" for="selectedTime"> Select a time</label>
        <br />
        @Html.DropDownList("selectedTime", selectedTime)
        <br />
        <button class="my-4 btn btn-primary" type="submit">Continue</button>
    </form>
</main>

